<!DOCTYPE html>
<html>
<head>
  <title>Notepad</title>
  <%= stylesheet_link_tag :all %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
  <div id="header">
    <h1><%= link_to "NotePad", root_path %></h1>
  </div>
  <%= yield %>
</div>

</body>
</html>
