<!DOCTYPE html>
<html>
<head>
  <title>Notepad</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag [
    "jquery-1.6.1.min",
    "jquery.tmpl.min.js",
    "knockout-1.2.1"
  ] %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
  <div id="header">
    <h1><%= link_to "NotePad", root_path %></h1>
  </div>
  <%= yield %>
</div>

</body>
</html>
